

<div	class="container	content">
    <div	class="row">
        <div	class="col-md-6	offset-md-3">
            <span	class="anchor"	id="formLogin"></span>
                    <!-- form	card	login	with	validation	feedback	-->
                <div	class="card	card-outline-secondary">
                    <div	class="card-header">
                        <h3	class="mb-0">Floreslist</h3>
                    </div>
                    <div	class="card-body">
                        <form>
                            <div	class="form-group">
                                <label	for="nombre">Nombre</label>
                                <input	type="text"	class="form-control" id="nombre"	placeholder="Ingresar nombre..." #nombre>
                            </div>
                        <div	class="form-group">
                        <label	for="Imagen	Url">Imagen	Url</label>
                        <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." #url>
                        </div>
                        <button	type="submit"	class="btn	btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <hr	class="mb-5">
    <div	class="row">
        <!-- <ul>
            <app-flowerslist *ngFor="let x of flores1" [nombre]="x">
               funcion iterable, donde x es el nombre de la iteración, flores el nombre de la variable, 
                    *ngFor pertenece a angular palabra clave es let y of. la variable flores viente del archivo listaflores.componente.ts.
                al insertar el [nombre="x"] podemos enviar a flowerlist.componente.ts la información de listaflores.component.ts, 
                la variable ex en este segmento indica que se ocupa
            unicamente en este semento. 
            
            </app-flowerslist>

        </ul>-->
        <app-flowerslist *ngFor="let d of flores" [nombre]="d" ></app-flowerslist>
    </div>
</div>