<div class="container content">
    <div class="row">
        <div class="col-md-6">
            Saludador works desde
        </div>
        <div class="col-md-6">
            EmmanuelleFlowers!
        </div>
    </div>

</div>

